@model DevExtremeMvcApp1.Models.UserAccount

@{
    ViewBag.Title = "LoggedIn";
}

<h2>LoggedIn</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <hr />
    <h4>Kullanıcı Kayıt</h4>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <p>İsim</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p>Soy İsim</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p>Email</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p>Kullanıcı Adı</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p>Parola</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p>Parolanızı Doğrulayın</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p>Şirket Adı</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.SirketAdi, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SirketAdi, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p>GSM Numarası</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.CepTelefon, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CepTelefon, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <p>Ev Telefon Numarası</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.EvTelefon, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EvTelefon, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <p>Şirket Telefon Numarası</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.SirketTelefon, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SirketTelefon, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <p>TC No</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.TCNo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TCNo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <p>Meslek</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Meslek, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Meslek, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <p>İl</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.İl, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.İl, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <p>İlçe</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.İlçe, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.İlçe, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <p>Adres</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Adres, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Adres, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <p>Cinsiyet </p>
        <div class="col-md-10">
            @Html.EnumDropDownListFor(model => model.CinsiyetName, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CinsiyetName, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Oluştur" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Listeye Dön", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
